<!-- Template : Assiduité Professeur -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body p-20">
        <h6 class="text-lg fw-semibold mb-20">Saisir les Absences / Retards</h6>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label">Classe</label>
            <select class="form-select" id="attClassSelect" onchange="loadAttendanceStudents()">
              <!-- Options injectées par attendance.js -->
            </select>
          </div>
        </div>
        <div id="attStudentsArea"></div>
      </div>
    </div>
  </div>
</div>
