<!-- Template : Évaluations (Professeur) -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body p-20">
        <h6 class="text-lg fw-semibold mb-20" id="evaluationsTitle">
          Évaluations
        </h6>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Étudiant</th>
                <th>Matière</th>
                <th>Note</th>
              </tr>
            </thead>
            <tbody id="evaluationsTableBody">
              <!-- Lignes injectées par grades.js -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
